opencv-python
scenedetect

moviepy
librosa
google-genai
demucs
python-speech-features
numpy==1.26.4
pandas
resemblyzer
uvicorn
fastapi
python-multipart

tf-keras
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
transformers==4.39.3

deepface